* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  --dark-bg: #1F1F1F;
  --teal-light: #80E0AA;
  --teal-dark: #223D2E;
  --red-lighter: #ff7f78;
  --red-light: #FF635B;
  --red-dark: #401E1D;
  --grey-light: #E7E7E7;
  --grey-dark: #464646;
}

@font-face {
  font-family: playwrite;
  src: url('../fonts/PlaywriteUSTrad-VariableFont_wght.ttf');
}

@font-face {
  font-family: helvetica-regular;
  src: url('../fonts/HelveticaWorld-Regular.ttf');
}

@font-face {
  font-family: spacegrotesk;
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-bg);
  width: 100%;
  padding: 8px;
}

.navbar__logo a {
  font-family: playwrite;
  color: var(--teal-light);
  font-size: 2rem;
  margin-left: 30px;
  text-decoration: none;
  transition: 0.2s;
}

.navbar__logo a:hover {
  color: var(--red-light);
}

.navbar__buttons {
  display: flex;
  gap: 15px;
  margin-right: 15px;
}

.signup__button,
.login__button {
  font-family: helvetica-regular;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 20px;
  width: 110px;
  text-align: center;
}

.signup__button {
  background-color: var(--dark-bg);
  color: var(--teal-light);
  padding: 7px 15px;
  border: 2px solid var(--teal-light);
  transition: 0.2s;
}

.signup__button:hover {
  color: var(--red-light);
  border: 2px solid var(--red-light);
}

.login__button {
  background-color: var(--teal-light);
  color: var(--dark-bg);
  padding: 7px 15px;
  transition: 0.2s;
}

.login__button:hover {
  background-color: var(--red-light);
  color: var (--dark-bg);
}

.navbar__buttons {
  display: flex;
  gap: 15px;
  margin-right: 5px;
}

.mainsignup {
  font-family: helvetica-regular;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: start;
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 25px;
  background-color: var(--dark-bg);
  flex: 1;
  gap: 10%;
}

.mainsignup__text {
  padding: 25px 30px;
  width: 50%;
  text-align: start;
  color: white;
  font-family: spacegrotesk;
  font-size: 1rem;
  width: 50%;
}

.mainsignup__text p {
  padding-top: 15px;
  font-family: playwrite;
  font-size: 4rem;
  color: var(--teal-light);
}

.mainsignup__form {
  background-color: var(--grey-light);
  border-radius: 30px;
  height: fit-content;
}

.mainsignup__form form {
  padding: 15px 2dvh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.mainsignup__form input {
  font-family: spacegrotesk;
  border-radius: 15px;
  padding: 6px;
  border: none;
  /* box-shadow: inset 1px 1px 4px black; */
}

.mainsignup__form button {
  background-color: var(--red-light);
  color: var(--dark-bg);
  font-family: helvetica-regular;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.90rem;
  padding: 6px 7.5px;
  border-radius: 25px;
  width: 100px;
  transition: 0.2s;
  align-self: self-end;
  border: none;
}

.mainsignup__form button:hover {
  background-color: var(--red-lighter);
}

.footer {
  background-color: var(--teal-light);
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 50px;
  padding: 13px;
}

.social__icons a {
  padding: 10px;
  text-decoration: none;
  color: var(--dark-bg);
  font-size: 3rem;
  transition: 0.5s;
}

.social__icons i {
  transition: 0.4s;
}

.social__icons i:hover {
  color: var(--red-light);
}

@media (max-width: 426px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg);
    width: 100%;
    padding: 8px;
    gap: 15px;
  }
}

@media (max-width: 700px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg);
    width: 100%;
    padding: 8px;
    gap: 15px;
  }

  .mainsignup {
    font-family: helvetica-regular;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 25px;
    background-color: var(--dark-bg);
    flex: 1;
    gap: 10%;
    align-items: center;
  }

  .mainsignup__text {
    padding: 25px 30px;
    width: 50%;
    text-align: center;
    color: white;
    font-family: spacegrotesk;
    font-size: 0.80rem;
    width: 50%;
  }

  .mainsignup__text p {
    padding-top: 15px;
    font-family: playwrite;
    font-size: 3rem;
    color: var(--teal-light);
    text-align: center;
  }

  .mainsignup__form {
    background-color: var(--grey-light);
    border-radius: 30px;
    height: fit-content;
    margin-bottom: 50px;
  }

  .mainsignup__form form {
    padding: 15px 2dvh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .mainsignup__form input {
    font-family: spacegrotesk;
    border-radius: 15px;
    padding: 6px;
    border: none;
    /* box-shadow: inset 1px 1px 4px black; */
  }

  .mainsignup__form button {
    background-color: var(--red-light);
    color: var(--dark-bg);
    font-family: helvetica-regular;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.90rem;
    padding: 6px 7.5px;
    border-radius: 25px;
    width: 100px;
    transition: 0.2s;
    align-self: self-end;
    border: none;
  }
}

@media (max-width: 700px) {
  
  .mainsignup__text {
    padding: 25px 30px;
    width: 50%;
    text-align: center;
    color: white;
    font-family: spacegrotesk;
    font-size: 0.70rem;
    width: 50%;
  }

  .mainsignup__text p {
    font-family: playwrite;
    font-size: 3rem;
    color: var(--teal-light);
    text-align: start;
    align-self: center;
    justify-self: center;
  }

  .mainsignup__form {
    background-color: var(--grey-light);
    border-radius: 30px;
    height: fit-content;
    margin-bottom: 50px;
  }
}